footer
  background #131527
  padding-bottom 20px
  .contact
    display flex
    flex-wrap wrap
    justify-content space-around
    .copy
      p
        color white
    .author
      cursor pointer
    .logo
      cursor pointer