.services
  padding-bottom 100px
  background-color white
  .caption
    h1
      color #2a3044
      font-family Muller
      font-weight 100
      margin 50px 0
      font-size 26pt
  .species
    .item
      display block
      border 1px solid #f0f2f4
      height 250px
      .img
        margin-top 75px
      .name
        h4
          font-family PF Square Sans Pro
          font-weight normal
          font-size 14pt